<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Site Collecte</span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="subtitle">
    <span class="font-police">OpenData Import</span>
  </div>
  
  <div class="importDiv">
    
    <span class="fontStyle">Maintenance en cours ...</span>
    <img class="imgMaint" src="https://thumbs.gfycat.com/ShabbyCrispFrigatebird-size_restricted.gif">
  
  </div>