mat-toolbar {
    margin-bottom: 2em;
    box-shadow: 0px 15px 10px -15px #111 !important;
}

.subtitle {
    text-align: center;
    margin-bottom: 5em;
}

.font-police {
    font-size: 4em;
    width: 100%;
    margin: 0 auto;
}

.importDiv {
    padding: 0.2em;
    margin: 3em;
    box-shadow: 1px 1px 12px #555;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.fontStyle {
    margin: 1em auto;
    font-size: 1em;
    font-family: cursive;
}

.imgMaint {
    width: 10%;;
    margin: 0 auto;
}