<ngx-dropzone (change)="onSelect($event)" multiple="true" accept="application/vnd.ms-excel,text/xml">
    <ngx-dropzone-label>Faîtes glisser vos fichiers CSV ...</ngx-dropzone-label>
    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
    </ngx-dropzone-preview>
</ngx-dropzone>