mat-toolbar {
    margin-bottom: 2em;
    box-shadow: 0px 15px 10px -15px #111 !important;
}

.subtitle {
    text-align: center;
    margin-bottom: 5em;
}

.font-police {
    font-size: 4em;
    width: 100%;
    margin: 0 auto;
}

.importDiv {
    padding: 0.2em;
    margin: 3em;
    box-shadow: 1px 1px 12px #555;
    border-radius: 1em;
}

.monitorSet {
    margin: 1em;
    display: flex;
    align-items: center;
}

button {
    margin-right: 1em;
}

.button_imp {
    float: left;
    flex: auto;
}