<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Site Collecte</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="subtitle">
  <span class="font-police">OpenData Import</span>
</div>

<div class="importDiv">
  <app-import></app-import>

  <div class= "monitorSet">

    <div class="button_imp">
      <button mat-flat-button color="primary" (click)="onUploadAll()">Upload</button>
      <button mat-flat-button color="warn" (click)="onRemoveAll()">Remove all</button>
    </div>
    
    <span><em><b>Seulement les fichiers CSV et XML sont autorisées !</b></em></span>

  </div>

</div>